@{
    ViewBag.Title = "Pricing";
}
<h2 style="text-align: center">@ViewBag.Title</h2>


<h3>Petrol Prices</h3>

<table>
    <tr>
        <th>Type</th>
        <th>Price</th>
        <th>Points</th>
    </tr>

    <tr>
        <td>E95</td>
        <td>14</td>
        <td>1</td>
    </tr>
    <tr>
        <td>E98</td>
        <td>15</td>
        <td>2</td>
    </tr>
    <tr>
        <td>On</td>
        <td>11</td>
        <td>3</td>
    </tr>
</table>

<h3>Car Wash Prices</h3>

<table>
    <tr>
        <th>Service Name</th>
        <th>Price</th>
        <th>Points</th>
    </tr>

    <tr>
        <td>Fast wash</td>
        <td>14</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Full wash</td>
        <td>15</td>
        <td>2</td>
    </tr>
</table>