@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Petrol station that is equipped with <br />4 self-service
dispensers and
one station of LPG. <br /> In each fuel dispenser you can refuel: <br />E95, E98, ON. Automatic
wash has two cars positions.</p>

<h3>Owner:</h3> 
<h4>M.Sc. Jan Kowalski</h4>