@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    SWZ Petrol Station<br />
    Jana Pawła II 37, 31-864 Cracow<br />
    <abbr title="Email adress">Mail:</abbr>
    SWZ@mail.com

</address>

<address>
    <strong>Phone 1:</strong>  <a>(070) 012-34-56</a> <br />
    <strong>Phone 2:</strong> <a>(070) 011-22-33</a>
</address>